langchain
langchain-openai
langchain-google-genai
langchain-community==0.3.25
python-dotenv
discord
google-genai==1.20.0
sentence-transformers==4.1.0
chromadb==1.0.12
psycopg2

mysql-connector-python
faker